.Homepage {
  min-height: calc(100vh - 20rem);
  padding: 0 6rem;
  display: flex;
  justify-content: space-between;
  background: url("../../assets/homepage-bg.svg") no-repeat;
  background-size: cover;
  background-position: center top;
}

.Homepage_container {
  display: flex;
  padding-top: 6rem;
  flex-direction: column;
}

.Homepage_title-primary {
  font-weight: 900;
  font-size: 5vw;
  line-height: 4.9vw;
  margin-bottom: 1.5rem;
}

.Homepage_title-secondary {
  font-size: 2.1vw;
  margin-bottom: 3rem;
}

.Homepage_image img {
  max-width: 35vw;
}

.Homepage_search {
  width: 100%;
  position: relative;
}

.Homepage_search-input {
  border: 0px;
  border-bottom: 0.3rem solid #774699;
  padding: 1rem 2rem;
  font-size: 1.9rem;
  width: calc(100% - 13rem);
}

.Homepage_search-button {
  padding: 1rem 2rem;
  font-size: 1.9rem;
  background-color: black;
  color: white;
  border: 0px;
  border-bottom: 0.3rem solid black;
  position: absolute;
  top: 0;
  right: 0;
  width: 13rem;
  cursor: pointer;
}

@media only screen and (max-width: 675px) {
  .Homepage {
    padding: 0 8vw;
  }

  .Homepage_title-primary {
    font-size: 8vw;
    line-height: 9.9vw;
  }

  .Homepage_title-secondary {
    font-size: 4.1vw;
  }

  .Homepage_image {
    display: none;
  }

  .Homepage_container {
    width: 100%;
    text-align: center;
  }

  .Homepage_search-input {
    width: 100%;
  }

  .Homepage_search-button {
    position: static;
    cursor: pointer;
    margin-top: 2rem;
  }
}
