.WeatherList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1.5vw;
  padding: 0 3vw;
}

.WeatherItem {
  background-color: white;
  border-radius: 10px;
  min-height: 25rem;
  text-align: center;
  padding: 2rem 0.5rem;
}

.WeatherItem_date {
  font-size: 2.2rem;
}

.WeatherItem_date-now {
  margin: 1.25rem 0;
}

.WeatherItem_description {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 785px) {
  .WeatherList {
    grid-template-columns: 1fr;
    grid-row-gap: 5rem;
    padding: 0 20vw;
  }

  .WeatherItem {
    min-height: 75vw;
  }

  .WeatherItem_date {
    font-size: 6.2vw;
    margin-bottom: 2vw;
  }

  .WeatherItem_description {
    margin-bottom: 1vw;
    font-size: 4vw;
  }

  .WeatherItem_temp {
    font-size: 4vw;
  }

  .WeatherItem_image {
    margin-bottom: 2vw;
  }
}
